.footer,
.footer-md {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: rgba(255, 255, 255, 0.4);

    .social {
        .link {
            border: none;
        }
    
        i {
            font-size: 32px;
            padding: 0 0 4px 22px;
        }
    }

    ul {
        margin-bottom: 6px;
        padding: 0;
        list-style-type: none;
    
        li {
            font-size: 17px;
            display: inline-block;
            border-left: solid 1px rgba(255, 255, 255, 0.25);
            padding-left: 11px;
            margin-left: 11px;
    
            &:first-child {
                border-left: none;
                margin-left: 0;
                padding-left: 0;
            }
        }
    }
}