@media screen and (max-width: $sm-width) {

    .sidebar {
        padding: 36px 48px 36px 48px;

        .header h1 {
            font-size: 22px;
            line-height: 37px;
            margin: 18px 0 0 0;
        }
    }
}