@media screen and (max-width: $lg-width) {

    .main {
        padding: 96px 48px 96px 48px;
        margin-right: 0;
        margin-left: 30%;
        max-width: 100%;
    }

    .info {
        
        h1 {
            font-size: 32px;
            line-height: 48px;
        }

        p {
            font-size: 16px;
            line-height: 28px;
            margin: 32px 0;
        }
    }
}
